<div class="wrapper">
    <div class="col">
        <ul>
            <li><a href="{{site.baseurl}}/" class="logo">DDPERFORMANCE</a></li>
            <li><p>Plovdiv, Bulgaria</p></li>
            <li><p>{{site.phone-number}}</p></li>
            <li><p>{{site.email}}</p></li>
        </ul>
    </div>
    <div class="col">
        <ul>
            <li><a href="#">Carreers</a></li>
            <li><a href="#">press</a></li>
            <li><a href="#">certified</a></li>
        </ul>
    </div>
    <div class="col">
        <ul>
            <li><a href="{{site.baseurl}}/contacts">Find us</a></li>
            <li><a href="{{site.baseurl}}/gallery">Gallery</a></li>
            <li><a href="{{site.baseurl}}/tuning">Tuning</a></li>
        </ul>
    </div>
    <div class="col">
        <ul>
            <li><a href="#">Cookie policy</a></li>
            <li><a href="{{site.baseurl}}/tuning">Service</a></li>
            <li><a href="#">Privacy Poicy</a></li>
        </ul>
    </div>
    <div class="col social">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <p>Copyright © since 2005 - DDP</p>
</div>
