<a class="logo" href="{{site.baseurl}}/">
    DDPerformance
</a>
<label for="nav-toggle" class="toggle">
    <i class="fas fa-list open"></i>
    <i class="fas fa-times close"></i>
</label>
<nav>
    <ul>
        {% assign navPages = site.pages | sort:"order" %}
        <li class="{% if page.url == '/' %}current-page{% endif %}">
            <a href="{{site.baseurl}}/"><i class="fas fa-home"></i>Home</a>
        </li>
        <li class="{% if page.url == '/about/' %}current-page{% endif %}">
            <a href="{{site.baseurl}}/about"><i class="far fa-address-card"></i>About</a>
        </li>
        <li class="{% if page.url == '/contacts/' %}current-page{% endif %}">
            <a href="{{site.baseurl}}/contacts"><i class="fas fa-phone"></i>Contacts</a>
        </li>

        <!-- {% for currPage in navPages  %}
        {% if currPage.title%}
        <li class="{% if currPage.url == page.url %}current-page{% endif %}">
            <a href="{{site.baseurl}}{{currPage.url}}">{{currPage.title}}</a></li>
        {% endif %}
        {% endfor %} -->
    </ul>
</nav>