<a class="logo" href="{{site.baseurl}}/">
    DDPerformance
</a>
<label for="nav-toggle" class="toggle">
    <i class="fas fa-list open"></i>
    <i class="fas fa-times close"></i>
</label>
<nav>
    <ul>
        {% assign navPages = site.pages | sort:"order" %}
        <li class="{% if page.url == '/' %}current-page{% endif %}">
            <a href="{{site.baseurl}}/"><i class="fas fa-home"></i>Home</a>
        </li>
        <li class="{% if page.url == '/tuning/' %}current-page{% endif %}">
            <a href="{{site.baseurl}}/tuning"><i class="fas fa-tachometer-alt"></i>Tuning</a>
        </li>
        <li class="{% if page.url == '/gallery/' %}current-page{% endif %}">
            <a href="{{site.baseurl}}/gallery"><i class="far fa-images"></i>Gallery</a>
        </li>
        <li class="{% if page.url == '/contacts/' %}current-page{% endif %}">
            <a href="{{site.baseurl}}/contacts"><i class="fas fa-map-marker-alt"></i></i>Find Us</a>
        </li>

        <!-- {% for currPage in navPages  %}
        {% if currPage.title%}
        <li class="{% if currPage.url == page.url %}current-page{% endif %}">
            <a href="{{site.baseurl}}{{currPage.url}}">{{currPage.title}}</a></li>
        {% endif %}
        {% endfor %} -->
    </ul>
</nav>