.banner{
    min-height: $big-banner-height;
    position: relative;
    overflow: hidden;
    .wrapper{
        display: flex;
        min-height: $big-banner-height;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &:hover{
        img{
            transform: translate(-50%, -50%) scale(1.05);
        }
        &:before{
            background-color: rgba($color-main, 0.7);
        }
        p,h1{
            color: rgba(white, 1);
        }
    }
    img{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%);
        transition: transform 0.2s ease-in-out;
    }
    &:before{
        display: block;
        content: '';
        top: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color-main, 0.4);
        z-index: 2;
        transition: background-color 0.2s ease-in-out;
    }
    p,
    h1{
        z-index: 3;
        position: relative;
        color: rgba(white, 0.5);
        transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in;;
    }
}

.banner-small{
    min-height: $small-banner-height;

    .wrapper{
        min-height: $small-banner-height;
    }

    h2{
        z-index: 2;
        position: relative;
        color: rgba(white, 0.5);
        transition: opacity 0.2s ease-in, color 0.2s ease-in-out, transform 0.2s ease-in;;
    }
}
.yellow{
    &:before{
        background-color: rgba($background-contrast, 0.7);
    }
    &:hover{
        &:before{
            background-color: rgba($background-contrast, 0.8);
        }
        h2{
            color: rgba($color-main, 1)
        }
    }
    h2{
        color: rgba($color-main, 0.8);
    }
    a{
        position: relative;
        z-index: 2;
        font-size: 1.8em;
        color: $color-main;
        padding: 0.2em 0.5em;
        border-radius: 0.1em;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        &:hover{
            background-color: rgba($color-main, 0.8);
            color: $background-contrast;
        }
    }
}