.wrapper-gallery{
    max-width: 80em;
    padding: 0 2rem;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        text-decoration: underline;
    }
}

.gallery{
    display: grid;   
    grid-gap: 1em;
    width: 100%;
    grid-auto-flow: dense;
    @include bp(phone) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @include bp(tablet) {
        grid-template-columns: repeat(3, 1fr);
    }
    @include bp(desktop){
        grid-template-columns: repeat(4, 1fr);
    }

    li{
        display: block;
        list-style: none outside;
        position: relative;
        overflow: hidden;
        border: 3px solid #000;
        box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.3);
        
        &:before{
            display: block;
            content: '';
        }
        &.portrait{
            grid-row: span 2;
            &:before{
                padding-top: 200%;
            }
        }
        &.landscape{
            grid-column: span 2;
            &:before{
                padding-top: 50%;
            }
        }
        &.square{
            &:before{
                padding-top: 100%;
            }
        }
        
    }
    a{
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;

        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            z-index: 5;
            box-shadow: inset 0 0 3em 0 rgba(0, 0, 0, 0.7);
            transition: box-shadow 0.2s ease-in-out;
        }
        &:hover{
            img{
                transform: translate(-50%, -50%) scale(1.05);
            }
            &:before{
                box-shadow: none
            }
        }
    }
    img {
        display: block;
        position: absolute;
        width: auto;
        height: 100%;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.2s ease-in-out;
        
    }
}
