.wrapper{
    max-width: 80em;
    margin: 0 auto;
    padding: 0 2rem;
}
.site{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main{
        flex-grow: 1;
    }
}

.media img{
    width: 100%;
    height: auto;
    display: block;
}

// PRESENTATION
.presentation .wrapper{
    margin: 3em auto;
}
.card-presentation{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.3em;
    & + &{
        margin-top: 3em;
    }

    .media{
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        
        @include bp(phone){
            flex: 0 0 100%;
        }
    }

    .content{
        padding: 2em;
        flex: 0 0 50%;
        @include bp(phone){
            flex: 0 0 100%;
        }
        h2{
            padding: 0;
            line-height: 1;
        }
        span{
            font-size: 1.6em;
            padding-bottom: 0.5em;
            display: block;
        }
        p{
            color: rgba($color-main, 0.7)
        }
    }
    @include bp(tablet){
        &:nth-child(even){
            .media{
                order: 2;
            }
        }
    }
}

// ABOUT
.about{
    background: $background-secondary;
    color: white;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2em;
        padding-bottom: 5em;
    }
}

// MAINTENANCE
.maintenance .wrapper{
    position: relative;
    margin-top: -2em;
    margin-bottom: 2em;
    background-color:#e1e5ed;
    padding: 3em;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.3em;
    h3{
        flex: 0 0 100%;
        text-align: center;
    }
}

.col{
    flex: 0 0 33%;
    padding: 1em;
    @include bp(phone){
        flex: 0 0 100%;
    }
    @include bp(tablet){
        flex: 0 0 50%
    }
    @include bp(desktop){
        flex: 0 0 33.3%;
    }
    .maintenance-item{
        display: flex;
        min-height: 12em;
        .icon{
            flex: 0 0 20%;

            .fa-bolt,
            .fa-passport,
            .fa-shield-alt,
            .fa-calendar-alt{
                font-size: 3em;
                margin-top: 0.2em;
            }
            .fa-laptop,
            .fa-money-bill-wave{
                font-size: 2.5em;
                margin-top: 0.2em;
            }
            
        }
        .maintenance-item-content{
            flex: 0 0 80%;
        }
        
    }
    .maintenance-item + .maintenance-item{
        margin-top: 2em;
    }
}

// TUNING
.tuning .wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2em auto;
}
.card-tuning{
    @include bp(phone){
        flex: 0 0 100%;
    }
    @include bp(tablet){
        flex: 0 0 48%
    }
    @include bp(desktop){
        flex: 0 0 31.2%;
    }
    margin: 1em 0;
    box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.3em;

    &:hover {
        img{
            transform: scale(1.05);
        }
    }
    h4{
        line-height: 1;
    }
    .media{
        box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.3);
        overflow: hidden;
        img{
            transition: transform 0.2s ease-in-out;
        }
    }
    .content{
        display: flex;
        padding: 1em;
        flex-direction: column;
        align-items: center;
    }
    
}
.tuning-info .wrapper{
    background-color: #ffe300;
    padding: 3em 5em;
    position: relative;
    margin-top: -3em;
    z-index: 2;
    border-radius: 0.3em;
    margin-bottom: 2em;
    h4{
        text-align: center;
        font-weight: 600;
        opacity: 0;
        a{
            color: $color-secondary;
            font-weight: 700;
        }
    }

}

// CONTACTS
.contacts .wrapper{
    display: flex;
    flex-wrap: wrap;
    p{
        padding-bottom: 0.7em;
    }
    .info{
        flex: 0 0 60%;
        padding: 1em;
        @include bp(phone){
            flex: 0 0 100%;
        }
    }
    .find-us{
        flex: 0 0 40%;
        padding: 1em;
        @include bp(phone){
            flex: 0 0 100%;
        }
    }
    .contact-map{
        box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.3);
        border-radius: 0.3em;
    }
}

