.nav-toggle {
    display: block;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}
a.logo{
    font-size: 1.25em;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid rgba($color-main, 0.2);
    border-radius: 0.1em;
    transition: border 0.2s ease-in-out;

    &:hover{
        color: $color-main;
        border-bottom: 2px solid $color-main;
    }
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;

    @include bp(phone){
        flex-wrap: wrap;
    }
}
header{
    margin-bottom: 1em;
    background: $background-main;

    label{
        color: white;
        font-size: 1.2em;
        font-weight: 500;
        @include bp(tablet){
            display: none;
        }
        @include bp(phone){
            .open{
                .nav-toggle + &{
                    display: block;
                }
                .nav-toggle:checked + &{
                    display: none;
                }
            }
            .close{
                .nav-toggle + &{
                    display: none;
                }
                .nav-toggle:checked + &{
                    display: block;
                }
            }
        }
    }
}

nav{
    @include bp(phone){
        display: none;
        flex: 0 0 100%;
        .nav-toggle:checked + header &{
            display: block;
        }
        li{
            margin: 1em 0 ;
        }
    }

    ul{
        @include bp(tablet){
            display: flex;
            align-items: center;
        }
        li{
            display: block;
            text-align: center;
            list-style: none outside;
        }
    }

    a{
        text-decoration: none;
        padding: 0em 0.6em;
        margin: 0 0.4em;
        font-size: 1.12em;
        border-bottom: 1.5px solid rgba($color-main, 0.2);
        border-radius: 0.1em;
        transition: border 0.2s ease-in;

        @at-root .current-page a,
        &:hover
        {
            border-bottom: 1.5px solid $color-main;
            color: $color-main;
        }
        @at-root .current-page a{
            font-size: 1.2em;
        }
    }
    
}

.fa-home,
.fa-address-card,
.fa-phone
{
    margin-right: 0.4em;
}
.fa-times,
.fa-list{
    font-size: 1.7em;
}
