.nav-toggle {
    display: block;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}
a.logo{
    font-size: 1.35em;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgba(white, 0.5);
    border-radius: 0.1em;
    color: white;
    transition: border 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover{
        color: $color-main;
        border-bottom: 2px solid $color-main;
    }
}

header{
    background: $background-main;

    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
    
        @include bp(phone){
            flex-wrap: wrap;
        }
    }

    label{
        color: white;
        font-size: 1.2em;
        font-weight: 500;
        display: none;

        @include bp(phone){
            display: block;
            .open{
                .nav-toggle + &{
                    display: block;
                }
                .nav-toggle:checked + &{
                    display: none;
                }
            }
            .close{
                .nav-toggle + &{
                    display: none;
                }
                .nav-toggle:checked + &{
                    display: block;
                }
            }
        }
    }
}

nav{
   
    @include bp(phone){
	    overflow: hidden;
        transition: max-height 0.15s ease-out;
        background: $background-secondary;
        max-height: 0;

        position: relative;
        margin-top: 1em;
        margin-left: -2rem;
        margin-right: -2rem;
        margin-bottom: -1em;
        
        flex: 0 0 calc(100% + 4rem);

        .nav-toggle:checked + header &{
            max-height: 146px;
            padding-bottom: 0.5em;       
        }
        li{
            margin: 1em 0 ;
        }
    }

    ul{
        @include bp(tablet){
            display: flex;
            align-items: center;
        }
        li{
            display: block;
            text-align: center;
            list-style: none outside;
        }
    }

    a{
        padding: 0.12em 0.6em;
        margin: 0 0.4em;
        color: white;
        font-size: 1.12em;
        border-bottom: 2px solid rgba(white, 0.5);
        border-radius: 0.1em;
        transition: border 0.2s ease-in-out,;

        @at-root .current-page a,
        &:hover
        {
            border-bottom: 2px solid $color-main;  
        }
        @at-root .current-page a{
            color: $color-main;
        }
    }
    
}

.fa-home,
.fa-address-card,
.fa-map-marker-alt,
.fa-tachometer-alt,
.fa-images
{
    margin-right: 0.4em;
}
.fa-times,
.fa-list{
    font-size: 1.7em;
}
.fa-wrench{
    margin-right: 0.3em;
    font-size: 1.1em;
}
