@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');

html {
	font: 14px/1.5 "Poppins", Verdana, sans-serif;

	@include bp(phone){
		font-size: 12px
	}
	@include bp(tablet){
		font-size: 14px;
	}
	@include bp(desktop){
		font-size: 14px;
	}
}
body, button, input, select, option {
	font: inherit;
}
a{
	color: white;
	text-decoration: none;
}
footer a{
	text-transform: uppercase;
}

h1, h2, h3, h4, h4, h6{
	padding-bottom: 0.5em;
}
p{
	padding-bottom: 0.3em;
}
h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }