$background-main: linear-gradient(35deg, rgba(65,105,225,1) 0%, rgba(11,120,206,1) 100%);
$background-secondary: linear-gradient(35deg, rgba(15,51,160,1) 0%, rgba(22,77,176,1) 100%);
$color-main: #16191e;
$color-secondary: royalblue;