@import 'variables';
@import 'responsive';

@import 'reset';
@import 'typography';
@import 'layout';

@import 'navigation';


h3{
    transform: translate(50vw, 0);
    opacity: 0;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;

    .loaded &{
        opacity: 1;
        transform: translate(0,0);
    }
}