@import 'variables';
@import 'responsive';

@import 'reset';
@import 'typography';
@import 'layout';

@import 'banner';
@import 'navigation';


.banner{
    h1{
        transform: translate(35vw, 0);

        .loaded &{
            transform: translate(0,0);
        }
    }
    p{
        transform: translate(-35vw, 0);

        .loaded &{
            transform: translate(0,0);
        }
    }
    
}