<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
</head>

<body>
    <header>
        <a href="{{site.baseurl}}/">Home</a>
        <a href="{{site.baseurl}}/about">About</a>
        <a href="{{site.baseurl}}/contacts">Contacts</a>
    </header>
    <p>{{site.description}}</p>

    <h1>{{ page.title}}</h1>
    {{ content }}
</body>

</html>