<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <script>
        window.addEventListener('load', function () {
            document.querySelector('body').classList.add('loaded')
        })
    </script>
</head>

<body>
    <header>
        {% include navigation.html %}
    </header>
    <p>{{site.description}}</p>

    <h1>{{ page.title}}</h1>
    {{ content }}
</body>

</html>